<p id="notice"><%= notice %></p>

<h1>Listing Zip Codes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zip_codes.each do |zip_code| %>
      <tr>
        <td><%= zip_code.name %></td>
        <td><%= zip_code.latitude %></td>
        <td><%= zip_code.longitude %></td>
        <td><%= zip_code.region %></td>
        <td><%= link_to 'Show', zip_code %></td>
        <td><%= link_to 'Edit', edit_zip_code_path(zip_code) %></td>
        <td><%= link_to 'Destroy', zip_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zip code', new_zip_code_path %>
